src/test/resources/xsd/foobar.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://foobar"
    targetNamespace="http://foobar" elementFormDefault="qualified">

    <xs:complexType name="FoobarType">
        <xs:sequence>
            <xs:element name="foo" type="xs:string"/>
            <xs:element name="bar" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="foobar" type="FoobarType"/>
</xs:schema>
